body {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 0px; /* overriding carousel.css */
}

/* navbar-travenup - Start */
.navbar-travenup {
  background-color: transparent;
  border-color: transparent;
}
.navbar-travenup .navbar-brand {
  color: #ffffff;
}
.navbar-travenup .navbar-brand:hover,
.navbar-travenup .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-travenup .navbar-text {
  color: #ffffff;
}
.navbar-travenup .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-travenup .navbar-nav > li > a:hover,
.navbar-travenup .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-travenup .navbar-nav > .active > a,
.navbar-travenup .navbar-nav > .active > a:hover,
.navbar-travenup .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-travenup .navbar-nav > .disabled > a,
.navbar-travenup .navbar-nav > .disabled > a:hover,
.navbar-travenup .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-travenup .navbar-toggle {
  border-color: transparent;
}
.navbar-travenup .navbar-toggle:hover,
.navbar-travenup .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-travenup .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-travenup .navbar-collapse,
.navbar-travenup .navbar-form {
  border-color: transparent;
}
.navbar-travenup .navbar-nav > .open > a,
.navbar-travenup .navbar-nav > .open > a:hover,
.navbar-travenup .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-travenup .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-travenup .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-travenup .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-travenup .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-travenup .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-travenup .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-travenup .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-travenup .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-travenup .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-travenup .navbar-link {
  color: #ffffff;
}
.navbar-travenup .navbar-link:hover {
  color: #ffffff;
}
.navbar-travenup .btn-link {
  color: #ffffff;
}
.navbar-travenup .btn-link:hover,
.navbar-travenup .btn-link:focus {
  color: #ffffff;
}
.navbar-travenup .btn-link[disabled]:hover,
fieldset[disabled] .navbar-travenup .btn-link:hover,
.navbar-travenup .btn-link[disabled]:focus,
fieldset[disabled] .navbar-travenup .btn-link:focus {
  color: #cccccc;
}

.navbar-travenup .navbar-brand {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 24pt;
}
/* /navbar-travenup  */


/* homeCarousel */
#homeCarousel, #homeCarousel .carousel-inner > .item  {
	height: 430px;
	background-position: center top; 
	background-size: auto 100%;
}
#homeCarousel h1 {
	text-transform: uppercase;
}
#homeCarousel blockquote {
	color: #fff;
	position: relative;
	top: 50px;
	font-size: 13px;
	max-width: 50%;
}
#homeCarousel blockquote footer {
	color: #fff;
}
#homeCarousel  .carousel-caption {
	bottom: 20px;
}

@media (min-width: 768px) {
	#homeCarousel, #homeCarousel .carousel-inner > .item  {
		height: 550px;
	}
	#homeCarousel  .carousel-caption {
		bottom: 50px;
	}
	#homeCarousel blockquote {
		top: 100px;
		width: 270px;
	}
	#homeCarousel blockquote.blockquote-1 {
		left: 50px;
	}
	#homeCarousel blockquote.blockquote-2 {
		right: 50px;
		float: right;
	}
}
@media (min-width: 1423px) {
	#homeCarousel, #homeCarousel .carousel-inner > .item  {
		background-size: 100% auto;
	}
}


/* */

.btn-carousel {
  color: #fff;
  background-color: rgba(200,200,200,0.7);
  border-color: transparent;
  padding-left: 64px;
  padding-right: 64px;
}
.btn-carousel:focus,
.btn-carousel.focus {
  color: #fff;
  background-color: rgba(255,255,255,0.8);
  border-color:transparent;
}
.btn-carousel:hover {
  color: #fff;
  background-color: rgba(255,255,255,0.8);
  border-color:transparent;
}
.btn-carousel:active,
.btn-carousel.active,
.open > .dropdown-toggle.btn-carousel {
  color: #fff;
  background-color: rgba(200,200,200,0.7);
  border-color:transparent;
}
.btn-carousel:active:hover,
.btn-carousel.active:hover,
.open > .dropdown-toggle.btn-carousel:hover,
.btn-carousel:active:focus,
.btn-carousel.active:focus,
.open > .dropdown-toggle.btn-carousel:focus,
.btn-carousel:active.focus,
.btn-carousel.active.focus,
.open > .dropdown-toggle.btn-carousel.focus {
  color: #fff;
  background-color: rgba(200,200,200,0.7);
  border-color:transparent;
}
.btn-carousel:active,
.btn-carousel.active,
.open > .dropdown-toggle.btn-carousel {
  background-image: none;
}
.btn-carousel.disabled,
.btn-carousel[disabled],
fieldset[disabled] .btn-carousel,
.btn-carousel.disabled:hover,
.btn-carousel[disabled]:hover,
fieldset[disabled] .btn-carousel:hover,
.btn-carousel.disabled:focus,
.btn-carousel[disabled]:focus,
fieldset[disabled] .btn-carousel:focus,
.btn-carousel.disabled.focus,
.btn-carousel[disabled].focus,
fieldset[disabled] .btn-carousel.focus,
.btn-carousel.disabled:active,
.btn-carousel[disabled]:active,
fieldset[disabled] .btn-carousel:active,
.btn-carousel.disabled.active,
.btn-carousel[disabled].active,
fieldset[disabled] .btn-carousel.active {
  background-color: rgba(200,200,200,0.7);
  border-color: transparent;
}
.btn-carousel .badge {
  color: #337ab7;
  background-color: #fff;
}


/* Footer */
.footer-travenup {
	background: #000;
	color: #fff;
	font-size: 10pt;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(/images/footer-bg.png);
}

.footer-travenup a {
	color: #fff;
}

.footer-travenup h2 {
	font-size: 12pt !important;
	color: #fff;
}

.footer-travenup .copyright {
	font-size: 9pt;
	color: #666;
	margin-top: 100px;
}

/* single - banner */
.banner {
	height: 230px;
	background-image: url(../images/baner-travenup-int.jpg);
	background-position: center
}

.tu-contents {
	margin-bottom: 50px;
}
.tu-contents h1 {
	margin-top: 50px;
	font-size: 16pt;
	color: #08CD86;
}

ul.tu-side-menu li a{
	background-color:#BBBCBB ;
}
ul.tu-side-menu li:nth-child(even) a {
	background-color: #DBDBDB ;
}

ul.tu-side-menu li a {
	display: block;
	padding: 15px;
	color: #000;
}


.ico-box-int {
	float: right;
}

/* .preappsection */
.homepage section.preappsection {
	padding-bottom: 40px;
	position: relative;
}
.homepage section.preappsection  h1 {
color: #000;
font-size: 40px;
}
.homepage section.preappsection  h2 {
  color: #fff;
  text-align: center;
  background-color: #00A3D9;
  position: absolute;
  top: -80px;
  display: block;
  left: 50%;
  right: 50%;
  padding: 10px 34px;
  width: 300px;
  margin: 0px 0px 0px -150px ;
  font-size: 18px;
}
@media (min-width: 768px) {
	.homepage section.preappsection  h2 {
	  width: 480px;
	  margin: 0px 0px 0px -240px ;
	}
}

/* appsection */
.homepage section.appsection {
	background: rgb(220,220,220);
	padding-top: 50px;
	padding-bottom: 50px;
	color: #000;
}
.homepage .appsection * {
	text-align: center;
}
.homepage .appsection .feature {
	padding: 5px;
}
.homepage .appsection .feature .feature-content {
	padding: 50px 30px;
	font-size: 21px;
}
.homepage .appsection .feature .feature-content h2{
	margin-bottom: 40px;
}

